# These are authors testing values, put your own in sshtun.rc
hostnum 4 max
hostnum 5 thor thordeb home5
hostfqdn 5 thor.example.org
hostnum 7 loki
hostnum 8 jupiter
hostnum 9 amy home9
hostfqdn 9 amy.example.org
hostnum 10 thoralt
hostnum 11 hp15
hostnum 13 nigel
hostnum 14 diaz
# Different 'versions' of cloud2 may have different internal hostnames
# For cloud2, support socks and a different subnet for VPN.
hostnum 15 cloud2j cloud4 cloud2
hostsshopt 15 -D 4128
hostpref 10.99.17 15
# See cert_portfwd below

# Default to a larger MTU for cloud2
hostmtu 7000 15

hostnum 16 p1t
hostnum 17 sg15
hostnum 18 sp1

default_mtu=1460

# Settings for certificate generation (optional):
# Use cert_portforward hostnum [hostnum ....]
# to generate certificates that allow port forwarding.
# This allows the ssh2vpn to be used for port-forwarding or socks5
# as well as the vpn (tun device), using hostsshopt (see example above).

# In this example, host number 15 is in a different lower security zone.
# Other hosts are allowed port forwarding.
cert_portfwd 4 5 6 7 8 9 10 11 12 13 14

# The default_validity and host_validity settings control the validity
# period for generated certificates. Refer to the -V option on ssh-keygen
# for the validity syntax.

default_validity='+12w'

# Usage: host_validity validity-period hostnum [hostnum ...]
# This allows some hosts to get a different validity period.
host_validity +52w 11 14 15

# Get more settings from a local file, if present:
[ -f /site/site/etc/ssh2vpn.rc ] && . /site/site/etc/ssh2vpn.rc 
[ -f /etc/ssh2vpn.local ] && . /etc/ssh2vpn.local
