#
# This is the non-forking (simple) version of the ssh2vpn service.
# The manager thread in the ssh2vpn script is not used, and, instead
# the management capabilities of systemd are used.
#
# So, a lot of the code in the ssh2vpn script is unused in this scenario,
# however, the ssh2vpn script can still be used to query the status of
# the tunnels.
#
# This .conf file is linked (or copied) into (for example):
#	/etc/systemd/system/remote-fs.target.wants/
#
# in order to have the service start automatically.
# After modifying /etc/systemd/ it may be necessary to do:
#	systemctl daemon-reload
#
[Unit]
Description=ssh2vpn cloud2 persistent
After=network.target
Before=remote-fs-pre.target

[Service]
Type=simple
# Not clear if systemd takes any action should the pid-file go missing.
# Systemd MUST delete the PIDFile when the ssh client is stopped, because
# there is no manager in the ssh2vpn script running.
PIDFile=/run/ssh2vpn/15.pid

# Persistent tunnel:
ExecStart=/usr/local/bin/ssh2vpn execssh 15 cloud2
Restart=always
RestartSec=70
ExecStartPost=/usr/local/bin/ssh2vpn servicetun 15

# Use a flag in pid_dir to indicate systemd is managing this tunnel
# and NOT the manager function within the ssh2vpn script.
ExecStartPost=/bin/touch /run/ssh2vpn/systemd.15
ExecStopPost=/bin/rm -f /run/ssh2vpn/systemd.15

# If I don't provide any Stop instructions, it appears that systemd
# will kill/signal the pid in the PIDFile and delete the PIDFile.
